th {
    text-align: center;
    background-color: rebeccapurple;
    color: whitesmoke;
    font-weight: 600;
    border-bottom-width: medium;
    padding: 5px;
}

table {
    padding: 100px;
    border-collapse: collapse;
    padding: 100px;
    border-width: 3px;
    border-color: black;
    font-family: sans-serif; 
}

tr{
    background-color: palevioletred;
    font-weight: 550;
}

td:nth-child(1){
    text-align: center;
}

td:nth-child(3){
    text-align: center;   
}

td:nth-child(4){
    text-align: center;
}